table, th, tbody {
    border-collapse: collapse;
    border:10px;
    border-style:double
}
th {
    width: 1000px;
}
body {
    background-color: skyblue
}
#addTask {
    color:blue;
    background-color: orangered;
    border: 5px;
}
.markCompleteButton {
    color: greenyellow;
    background-color: black
}

.deleteButton {
    color: red;
    background-color: black;
}


